@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600;700&family=Roboto:wght@400;700&display=swap');

:root {
    --white: #f5f5f5;
}

html,
body {
    box-sizing: border-box;
    color: var(--white);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("./resources/img/Clouds.png");
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    box-sizing: border-box;
    background: #5a6c7ccc;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

hgroup {
    margin-left: 20px;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0 0 0 5px;
}

.logo-link {
    list-style: none;
    text-decoration: none;
    color: var(--white);
    font-family: Cormorant;
    font-size: 32px;
    font-weight: 800;
}

.search {
    display: flex;
    align-items: center;
}

.search_input {
    font-size: 15px;
    background: var(--white);
    width: 172px;
    height: 24px;
    margin: 0;
    padding: 0 10px;
    border: none;
    border-radius: 7px 0 0 7px ;
}

.search_input:focus {
    outline: none;
}

.search_button {
    background: var(--white);
    width: 28px;
    height: 24px;
    padding: 0;
    border: none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

.search_button:focus {
    outline: none;
}

.search_button_icon {
    color: #444446;
}

.content {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 60px);
    padding: 0 min(200px, 10%);
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: min(200px, 10%);
}

.today-info {
    display: flex;
    justify-content: space-between;
}

.today-info_main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main_temp {
    box-sizing: border-box;
    font-size: 48px;
    font-weight: bold;
    background: url('./resources/decorations/border.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.today-info_secondary {
    font-size: 28px;
}

.secondary_section {
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

.secondary_icon {
    width: 32px;
}

.secondary_image  {
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    width: 32px;
    filter: invert(100%) sepia(2%) saturate(88%) hue-rotate(348deg) brightness(113%) contrast(92%);
}

.secondary_image_thermometer {
    width: 24px;
}

.week-info {
    display: flex;
    justify-content: space-around;
}

.week-info_day {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.week-info_day_label {
    font-size: 24px;
    font-weight: bold;
}

.week-info_day_weather,
.week-info_day_temperature {
    font-size: 20px;
} 

.error {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.disabled {
    display: none;
}
